<%=message%>

<table>
	<tr>
		<td class="br"><%=squares[0]%></td><td class="br"><%=squares[1]%></td><td class="b"><%=squares[2]%></td>
	</tr><tr>
		<td class="br"><%=squares[3]%></td><td class="br"><%=squares[4]%></td><td class="b"><%=squares[5]%></td>
	</tr><tr>
		<td class="r"><%=squares[6]%></td><td class="r"><%=squares[7]%></td><td><%=squares[8]%></td>
	</tr>
</table>

 
<form action="/board" method="POST"> 
 
Please choose a square from 1 to 9:<br><br><input type="text" name="choice">	<br> <br>
</form>





















